<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>

	<header th:replace="plantilla/template :: header"></header>

	<div class="container mt-3">

		<h5>Notificar Nuevo Evento:</h5>


		<form id="formAutorization" method="post"
			th:action="@{/views/evento/crear}"
			onsubmit="return confirm('Desea crear la nueva notificación de evento?');">

			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Descripción:</label>
				<textarea class="form-control" id="desc" name="desc" rows="3"
					required></textarea>
			</div>
			<div class="mb-3">
				<label for="exampleInputPassword1" class="form-label">Fecha
					del Evento: </label> <input type="datetime-local" name="fechaEvento"
					id="fechaEvento" required>
			</div>
			<div
				class="card-footer bg-white d-grid gap-2 d-md-flex justify-content-between">
				<input type="submit" class="btn btn-secondary btn-sm"
					value="Confirmar" />
			</div>
		</form>

		<h5 class="mt-3">Eventos próximos:</h5>

		<div class="row">
			<div class="col-sm-6 mt-3" th:each="ev:${listaEventos}">
				<div class="card" th:id="'div'+${ev.idEvento}">
					<h5 class="card-header">Evento Próximo:</h5>
					<div class="card-body">
						<p class="card-text">
							Descripción: <span th:text="${ev.descripcion}"></span>
						</p>
						<p class="card-text">
							Fecha evento: <span
								th:text="${#dates.format(ev.fechaEvento, 'dd-MM-yyyy HH:mm')}"></span>
						</p>

						<p class="card-text">
							Encargado: <span>[[${ev.usuarioSector.nombre}]]
								[[${ev.usuarioSector.apellido}]]</span>
						</p>

					</div>

					<div class="card-footer gap-2 d-md-flex justify-content-md-end">
						<button type="button" class="btn btn-success btn-sm"
							th:attr="onclick=|editarEvento('${ev.idEvento}','${ev.descripcion}',
							 '${#dates.format(ev.fechaEvento, 'dd-MM-yyyy HH:mm')}','${ev.usuarioSector.nombre}','${ev.usuarioSector.apellido}' )|">Editar</button>
						<button class="btn btn-danger btn-sm">Cancelar Evento</button>
					</div>

				</div>
			</div>
		</div>

	</div>

	<div class="mt-5"></div>

	<footer th:replace="plantilla/template ::footer"></footer>

	<script th:inline="javascript">
	
		function editarEvento(idEvento, descripcion, fechaEvento, nombre, apellido){
									
			let aux = '#div' + idEvento;
			let fechaN = 'fecha' + idEvento;
			let action = '/views/evento/editar/' + idEvento; 
			
			const resultado = document.querySelector(aux);
			
			resultado.innerHTML = `
				<h5 class="card-header">Evento Próximo:</h5>
				
				<form action=${action} method="post" onsubmit="return confirm('Confimar el editado de evento?');">
					<div class="card-body" >
					<div class="card-text">
						<label for="exampleInput" class="form-label">Descripción:</label>
						<textarea class="form-control" rows="3" id="descripcion" name="descripcion"
							required placeholder="${descripcion}"></textarea>
					</div>
					<div class="card-text mt-3">
						<label for="exampleInputDate" class="form-label">Fecha
						del Evento: </label> <input type="datetime-local" name="fechaEvento"
						id=${fechaN} required>
					</div>
	
					<p class="card-text mt-3">
						Encargado: <span>${nombre} ${apellido}</span>
					</p>
	
					</div>
		
					<div class="card-footer gap-2 d-md-flex justify-content-between">
						<input type="button" class="btn btn-danger btn-sm" value="Cancelar" 
							onclick="cancelarEditado('${idEvento}','${descripcion}','${fechaEvento}','${nombre}','${apellido}')">
						<input type="submit" class="btn btn-primary btn-sm" value="Confirmar">
					</div>
				</form>
				
			`;
					
			let fechaAuxiliar = fechaEvento[6]+fechaEvento[7]+fechaEvento[8]+fechaEvento[9]+
								'-'+fechaEvento[3]+fechaEvento[4] + 
								'-' + fechaEvento[0]+fechaEvento[1]+ 
								'T'+ fechaEvento[11]+fechaEvento[12]+fechaEvento[13]+fechaEvento[14]+fechaEvento[15];
			
			SetDate(fechaN, fechaAuxiliar);
		}
		
		function cancelarEditado(idEvento, descripcion, fechaEvento, nombre, apellido){
			let aux = '#div' + idEvento;
			//let fechaN = 'fecha' + idEvento;
			
			const resultado = document.querySelector(aux);
			
			resultado.innerHTML = `
				<h5 class="card-header">Evento Próximo:</h5>
				<div class="card-body">
					<p class="card-text">
						Descripción: <span>${descripcion}</span>
					</p>
					<p class="card-text">
						Fecha evento: <span>${fechaEvento}</span>
					</p>

					<p class="card-text">
						Encargado: <span>${nombre} ${apellido}</span>
					</p>

				</div>

				<div class="card-footer gap-2 d-md-flex justify-content-md-end">
					<button type="button" class="btn btn-success btn-sm"
						onclick="editarEvento('${idEvento}','${descripcion}','${fechaEvento}','${nombre}','${apellido}')">Editar</button>
						<button class="btn btn-danger btn-sm">Cancelar Evento</button>
				</div>
				
			`;
		}
		
	
		function SetDate(dateField, currentDate) {

			const today = new Date()
			let aux = '';

			let dd = today.getDate();
			let mm = today.getMonth() + 1; //January is 0!
			let yyyy = today.getFullYear();

			if (dd < 10) {
				dd = '0' + dd;
			}
			if (mm < 10) {
				mm = '0' + mm;
			}

			aux = yyyy + '-' + mm + '-' + dd + 'T00:00';
			
			if(currentDate==null){
				document.getElementById(dateField).setAttribute("min", aux);
				document.getElementById(dateField).setAttribute("value", aux);
			}else{
				document.getElementById(dateField).setAttribute("min", aux);
				document.getElementById(dateField).setAttribute("value", currentDate);
			}
			
		}

		SetDate('fechaEvento', null);
	</script>

</body>
</html>