<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>

	<header th:replace="plantilla/template :: header"></header>

	<div class="container">
		
		<div class=" row mt-3 d-grid gap-2 d-md-flex justify-content-md-center"
			id="cardEditar"></div>
		
		<h3 class="mt-3">Listado de proveedores:</h3>
		
		<table class="table mt-3" id="myTable">
			<thead>
				<tr>
					
					<th class="sortable" scope="col"
						style="width: 25%; text-align: center;">Proveedor</th>
					<th class="sortable" scope="col"
						style="width: 25%; text-align: center;">Editar</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="prov:${listaProveedor}">

					
					<td th:text="${prov.razonSocial}" style="text-align: center;"></td>
					<td style="text-align: center;">
						<button class="btn btn-success btn-sm"
							th:onclick="editarProveedor([[${prov}]])">Editar</button>
					</td>

				</tr>

			</tbody>
		</table>
		
	</div>

	<div class="mt-5"></div>

	<footer th:replace="plantilla/template ::footer"></footer>
	
	<script th:inline="javascript">
		const cardEditar = document.getElementById('cardEditar');	
		
		function editarProveedor(prov){
			let urlA = "/views/proveedor/editar/" + prov.idProveedor;
			
			cardEditar.innerHTML = `
				<div class="col-md-8">
				
				<div class="card-header bg-dark text-white">Editar Proveedor:</div>
			
				<form action=${urlA} method="post" autocomplete="off"
					>
					
					<div class="card-body row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="razonSocial">Proveedor:</label> <input type="text"
									class="form-control" id="razonSocial"
									name="razonSocial" required value="${prov.razonSocial}">
							</div>
							
							
						</div>
	
						<div class="form-group col-md-6 gap-2 d-md-flex justify-content-md-center">
							<label ></label>
							<img class="mt-2" src='/images/proveedor.jpg'
								width="200" height="200">
							</div>
						</div>	

					<div
						class="card-footer bg-dark mt-3 d-grid gap-2 d-md-flex justify-content-between">
						<input type="button" class="btn btn-primary btn-sm" onclick="cancelarEdit()"
						value="Cancelar" />
						<input type="submit" class="btn btn-primary btn-sm"
							value="Confirmar" />
					</div>

				</form>


			</div>
			`;
			
			window.scroll(0, 0);
		}
		
		function cancelarEdit(){			
			cardEditar.innerHTML = '';		
		}

	</script>
</body>
</html>