<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>

	<header th:replace="plantilla/template :: header"></header>

	<div class="container mt-3">

		<h5>Notificar Nuevo Evento:</h5>


		<form id="formAutorization" method="post"
			th:action="@{/views/evento/crear}"
			onsubmit="return confirm('Desea crear la nueva notificación de evento?');">

			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Descripción:</label>
				<textarea class="form-control" id="desc" name="desc" rows="3"
					required></textarea>
			</div>
			<div class="mb-3">
				<label for="exampleInputPassword1" class="form-label">Fecha
					del Evento: </label> <input type="datetime-local" name="fechaEvento"
					id="fechaEvento" required>
			</div>
			<div
				class="card-footer bg-white d-grid gap-2 d-md-flex justify-content-between">
				<input type="submit" class="btn btn-secondary btn-sm"
					value="Confirmar" />
			</div>
		</form>

		<h5 class="mt-3">Eventos próximos:</h5>

		<div class="row">
			<div class="col-sm-6 mt-3" th:each="ev:${listaEventos}">
				<div class="card">
					<h5 class="card-header">Evento Próximo:</h5>
					<div class="card-body">
						<p class="card-text">
							Descripción: <span th:text="${ev.descripcion}"></span>
						</p>
						<p class="card-text">
							Fecha evento: <span
								th:text="${#dates.format(ev.fechaEvento, 'dd-MM-yyyy HH:mm')}"></span>
						</p>

					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="mt-5"></div>

	<footer th:replace="plantilla/template ::footer"></footer>

	<script th:inline="javascript">
		function SetDate() {

			const today = new Date()
			let aux = '';

			let dd = today.getDate();
			let mm = today.getMonth() + 1; //January is 0!
			let yyyy = today.getFullYear();

			if (dd < 10) {
				dd = '0' + dd;
			}
			if (mm < 10) {
				mm = '0' + mm;
			}

			aux = yyyy + '-' + mm + '-' + dd + 'T00:00';

			document.getElementById('fechaEvento').setAttribute("min", aux);
			document.getElementById('fechaEvento').setAttribute("value", aux);

		}

		SetDate();
	</script>

</body>
</html>