<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
	<!-- th:href="@{/css/bootstrap.min.css}" -->

	<header th:replace="plantilla/template :: header"></header>

	<div class="container">

		<div class="row mt-3 d-grid gap-2 d-md-flex justify-content-md-center"
			id="cardAsis"></div>

	</div>


	<div class="container">

		<div class="gap-2 d-md-flex justify-content-between mt-3">
			<h2>Listado del Personal:</h2>

			<button type="button" class="btn btn-primary btn-sm"
				data-bs-toggle="modal" data-bs-target="#exampleModal">Ver
				asistencias</button>
		</div>


		<input type="text" id="formulario" class="form-control mt-3">
		<table class="table" style="width: 100%">
			<thead>
				<tr>

					<th class="sortable" scope="col"
						style="width: 15%; text-align: center;">Legajo</th>
					<th class="sortable" scope="col"
						style="width: 25%; text-align: center;">Nombre</th>
					<th class="sortable" scope="col"
						style="width: 20%; text-align: center;">Apellido</th>
					<th class="sortable" style="width: 20%; text-align: center;">Sector</th>
					<th scope="col" style="width: 20%; text-align: center;">Registrar
						Asistencia</th>
				</tr>
			</thead>
			<tbody id="fila">

			</tbody>
		</table>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Asistencias:</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<form id="myform" method="get"
					th:action="@{/views/asistencia/previas}">
					<div class="modal-body" id="modalbody">


						<ul class="list-group list-group-flush">
							<li class="list-group-item"><label>Rango de fechas:
							</label> <input type="text" id="date_range" name="date_range"
								class="form-control"></li>
							<li class="list-group-item"><label>Empleado: </label> <select
								class="form-select" id="sector" name="nroLegajo">
									<option value=-1 selected>Todos</option>
									<option th:each="p:${todoPersonal}" th:value='${p.nroLegajo}'>[[${p.apellido}]]
										[[${p.nombre}]]</option>

							</select></li>
						</ul>


					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary "
							data-bs-dismiss="modal">Cerrar</button>

						<button type="submit" class="btn btn-primary">Ver
							Asistencias</button>
					</div>
				</form>
			</div>
		</div>
	</div>



	<div class="mt-5"></div>

	<footer th:replace="plantilla/template ::footer"></footer>


	<script th:inline="javascript"> 
		
		var personal = /*[[${personal}]]*/ 'default';
		let listaVehiculos = /*[[${listaVehiculos}]]*/ 'default';
		var urlAsis = '';
		
		const formulario = document.querySelector('#formulario');
		const resultado = document.querySelector('#fila');
		const cardAsis = document.querySelector('#cardAsis');
		cardAsis.innerHTML = '';
				
		const filtrar = () => {
			resultado.innerHTML = '';
						
			const texto = formulario.value.toLowerCase();
			for(let p of personal){
				let nombre = p.nombre.toLowerCase();
				let apellido = p.apellido.toLowerCase();
				let legajo = p.nroLegajo;
								
				if(nombre.indexOf(texto) !== -1 || apellido.indexOf(texto) !== -1){
															
					resultado.innerHTML += `
					<tr>
						<td scope="row" style="text-align:center;">${p.nroLegajo}</td>
						<td style="text-align:center;">${p.nombre}</td>
						<td style="text-align:center;">${p.apellido}</td>
						<td style="text-align:center;">${p.sectorTrabajo.sector}</td>						
						<td style="text-align:center;">
							<button class="btn btn-success btn-sm d" 
							title:"Registrar Nueva Asistencia" id="asisBtn" 
							onclick="AsistenciaCard('${p.nroLegajo}','${p.nombre}','${p.apellido}','${p.sectorTrabajo.sector}','${p.imagen}')">
							Ingreso
							</button>
						</td>
					</tr>
					`
				}
			}
		}
				
		function AsistenciaCard (nroLegajo,nombre,apellido,sector, imagen){
			
			let urlA = "/views/asistencia/ingreso-empleado/" + nroLegajo;
			//let imagenEmpleado= `/recursos/${imagen}` ;
			let imagenAux = imagen.replace(/\s/g, "%20");
			let imagenEmpleado= `/recursos/${imagenAux}` ;
			
			let plantaIngresante = "";
						
			if(getCookie(nombreUsuario).indexOf("Peñaloza") != -1){
				plantaIngresante = "Av. Peñaloza 5750 - Planta II";
			}else if(getCookie(nombreUsuario).indexOf("Facundo") != -1){
				plantaIngresante = "Av. Facundo Zuviría 4740 - Planta I";
			}else{
				plantaIngresante = "No definida";
			}
			
			cardAsis.innerHTML = `
				<div class="col-md-8" >
				<div class="card-header bg-dark text-white ">Registro de Ingreso
					a la Planta</div>
				<div class="row g-0 ">
					<div class="col-md-4" id="imagen" style="margin-top: 3px;">
						<img src=${imagenEmpleado} width="270" height="270"
						
						onerror="this.onerror=null;this.src='/images/anonimo.jpg';">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">Registrar asistencia:</h5>
							
							
							<ul class="list-group list-group-flush mt-3">
							  <li class="list-group-item">Empleado: ${nombre} ${apellido}</li>
							  <li class="list-group-item">Número de Legajo: ${nroLegajo}</li>
							  <li class="list-group-item">Sector de trabajo: ${sector}</li>
							  <li class="list-group-item">Planta: ${plantaIngresante}</li>
							  <li class="list-group-item">Fecha y hora del ingreso: <small class="text-muted"><span
								id='date-time'></span></small></li>
							</ul>
							
						</div>
					</div>
				</div>
				<form 	
						action=${urlA}
						method="post"
						>
					<div
						class="card-footer bg-dark d-grid gap-2 d-md-flex justify-content-between">
							<button type="button" class="btn btn-secondary" onclick="CloseCard()"
								>Cancelar</button>
							<div>
								<button type="button" class="btn btn-secondary"
									onclick="transitoCard('${nroLegajo}','${nombre}','${apellido}','${sector}', '${imagen}')"
									>Tránsito</button>
								<button type="submit" class="btn btn-secondary"
									>Registrar</button>
							</div>
							 
							
					</div>
				</form>

			</div>
			`;
			
			//formato de la fecha
			var d = new Date,
			dformat = `${
			    d.getDate().toString().padStart(2, '0')}/${
			    (d.getMonth()+1).toString().padStart(2, '0')}/${
			    d.getFullYear().toString().padStart(4, '0')} ${
			    d.getHours().toString().padStart(2, '0')}:${
			    d.getMinutes().toString().padStart(2, '0')}`;
			
			
			
			document.getElementById('date-time').innerHTML = dformat;
				
			window.scroll(0, 0);
		}
	
		
		function transitoCard(nroLegajo,nombre,apellido,sector, imagen){
			
			let urlA = "/views/asistencia/transito_externo/" + nroLegajo;
			let imagenAux = imagen.replace(/\s/g, "%20");
			let imagenEmpleado= `/recursos/${imagenAux}` ;
			
			cardAsis.innerHTML = `
				<div class="col-md-8" >
				<div class="card-header text-dark" style="background-color: #9acd32	"
					><dt>Registro de Ingreso Transitorio a Planta</dt></div>
				<div class="row g-0 ">
					<div class="col-md-4 mt-1" id="imagen">
						<img src=${imagenEmpleado} width="270" height="270"
						
						onerror="this.onerror=null;this.src='/images/anonimo.jpg';">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">Registrar asistencia:</h5>
							
							
							<ul class="list-group list-group-flush mt-3">
							  <li class="list-group-item">Empleado: ${nombre} ${apellido}</li>
							  <li class="list-group-item">Fecha y hora del ingreso transitorio: <small class="text-muted"><span
								id='date-time'></span></small></li>
							  <li class="list-group-item" id="liVehiculos"></li>
							  <li class="list-group-item"><lable>Comentario:</label>
							  	<input type="text" class="form-control" form="formTransitoExterno" name="comentario">
							  </li>
							</ul>
							
						</div>
					</div>
				</div>
				<form 	
						action=${urlA}
						method="post"
						id="formTransitoExterno"
						>
					<div
						class="card-footer d-grid gap-2 d-md-flex justify-content-between"
							style="background-color: #9acd32">
							<button type="button" class="btn btn-secondary" onclick="AsistenciaCard('${nroLegajo}','${nombre}','${apellido}','${sector}', '${imagen}')"
								>Cancelar</button>
							<div>
								<button type="submit" class="btn btn-secondary"
									>Registrar</button>
							</div>
							 
							
					</div>
				</form>

			</div>
			`;
			
			//formato de la fecha
			var d = new Date,
			dformat = `${
			    d.getDate().toString().padStart(2, '0')}/${
			    (d.getMonth()+1).toString().padStart(2, '0')}/${
			    d.getFullYear().toString().padStart(4, '0')} ${
			    d.getHours().toString().padStart(2, '0')}:${
			    d.getMinutes().toString().padStart(2, '0')}`;
					
			document.getElementById('date-time').innerHTML = dformat;
			
			
			const divVehiculos = document.getElementById("liVehiculos");
			
			divVehiculos.innerHTML = `
				<label>Vehículo utilizado:</label>
				<select name="vehiculo" form="formTransitoExterno" class="form-select mt-2" id="vehiculoSelect" forEach>
				<option value="-1">Sin vehículo</option>
				</select>
			`;
			
			const mySelect = document.getElementById("vehiculoSelect");
			
			listaVehiculos.forEach(v => mySelect.innerHTML+=`<option value=${v.idVehiculo}>${v.marca} ${v.modelo} - Patente: ${v.patente}</option>`);
					
			
			window.scroll(0, 0);
		}
		
		
		function CloseCard(){
			cardAsis.innerHTML = '';
		}
		
		
		formulario.addEventListener('keyup', filtrar);
		filtrar();
		

		
	</script>
</body>
</html>