<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>

	<header th:replace="plantilla/template :: header"></header>

	<div class="container mt-3" id="cardAutorization"></div>



	<div class="container mt-3">
		<div class="gap-2 d-md-flex justify-content-between">
			<h4>Listado del Personal:</h4>
			
			<div class="gap-2 d-md-flex justify-content-end">
				<button class="btn btn-info btn-sm fw-bold"
					onclick="retiroExterno()">Retiro Externo</button>

				<form method="get" th:action="@{/views/retiro-material/autorizaciones-usuario}">
					<button type="submit" class="btn btn-primary">Ver tus
						autorizaciones</button>
				</form>
			</div>



		</div>


		<input type="text" id="formulario" class="form-control mt-2">
		<table class="table" style="width: 100%">
			<thead>
				<tr>
					<th class="sortable" scope="col"
						style="width: 15%; text-align: center;">Legajo</th>
					<th class="sortable" scope="col"
						style="width: 20%; text-align: center;">Nombre</th>
					<th class="sortable" scope="col"
						style="width: 20%; text-align: center;">Apellido</th>
					<th class="sortable" scope="col"
						style="width: 20%; text-align: center;">Sector</th>
					<th scope="col" style="width: 25%; text-align: center;">Autorizar
						Retiro</th>
				</tr>
			</thead>
			<tbody id="fila">

			</tbody>
		</table>
	</div>
	<div class="mt-5"></div>

	<footer th:replace="plantilla/template ::footer"></footer>

	<script th:inline="javascript">
	
	var personal = /*[[${personal}]]*/ 'default';
	var listaMateriales = /*[[${listaMateriales}]]*/ 'default';
	
	const formulario = document.querySelector('#formulario');
	const resultado = document.querySelector('#fila');
	const cardAutorization = document.querySelector('#cardAutorization');
	cardAutorization.innerHTML = '';
	
	
	const filtrar = () => {
		resultado.innerHTML = '';
		
		const texto = formulario.value.toLowerCase();
		for(let p of personal){
			let nombre = p.nombre.toLowerCase();
			let apellido = p.apellido.toLowerCase();
			let legajo = p.nroLegajo;
			
			if(nombre.indexOf(texto) !== -1 || apellido.indexOf(texto) !== -1){
								
				resultado.innerHTML += `
				<tr>
					<td scope="row" style="text-align:center;">${p.nroLegajo}</td>
					<td style="text-align:center;">${p.nombre}</td>
					<td style="text-align:center;">${p.apellido}</td>
					<td style="text-align:center;">${p.sector}</td>
					<td style="text-align:center;">
						<button class="btn btn-info btn-sm fw-bold" 
						title:"Registrar Nueva Asistencia" id="asisBtn" 
						onclick="myForm('${p.nroLegajo}','${p.nombre}','${p.apellido}','${p.sector}')">
						Autorizar
						</button>
					</td>
				</tr>
				`
			}
		}
	}
	
	function myForm(nroLegajo,nombre,apellido,sector){
		
		let urlA = "/views/retiro-material/autorizacion";
		
		cardAutorization.innerHTML = `
			<h5>Autorización de Retiro de Material</h5>
			<p class="mt-3">Empleado autorizado: ${nombre} ${apellido}</p>
			
			<form id="formAut" action=${urlA} method="post"
				>
				
				<div class="mb-3">
					<label for="exampleInputEmail1" class="form-label">Descripción:</label>
					<textarea class="form-control" id="desc" name="desc"
						rows="3" required></textarea>
				</div>
				<div class="mb-3">
				<label for="exampleInput1" class="form-label">Materiales: </label>
				<small class="text-muted"><span> (Ctrl + click para selección múltiple)</span></small>
				<select class="form-select"
					multiple aria-label="multiple select example" name="materiales"
					id="materiales">

				</select>
				</div>
				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label">Fecha Límite:  </label>
					<input type="date" id="fechaLimite" name="fechaLimite"
			       		>
				</div>
				<div>
					<input type="hidden" id="nroLegajo" name="nroLegajo" value="${nroLegajo}">
				</div>
				<div
				class="card-footer bg-white d-grid gap-2 d-md-flex justify-content-between">
				<button type="button" class="btn btn-secondary" onclick="CloseCard()"
					>Cancelar</button> 
					<input type="submit"
					class="btn btn-secondary btn-sm" value="Confirmar" />
			</div>
			</form>
		`
		
		SetDate();
		SetMateriales();

		window.scroll(0, 0);
		
 		$("#formAut").on('submit', function(event){
		    event.preventDefault();
		    
		    if(result = window.confirm("Desea confirmar la autorización al empleado " + nombre+" "+ apellido + "?")){
		    	//send();
		    	this.submit();
		    }
		    
		    
		});		
		
		
	}
	
	function CloseCard(){
		cardAutorization.innerHTML = '';
	}
	
	function SetDate(){
		
		const today = new Date()
		let tomorrow = new Date(today)
		tomorrow.setDate(tomorrow.getDate() + 1)
		
		let dd = tomorrow.getDate();
		let mm = tomorrow.getMonth() + 1; //January is 0!
		let yyyy = tomorrow.getFullYear();
		
		if (dd < 10) {
		   dd = '0' + dd;
		}
		if (mm < 10) {
		   mm = '0' + mm;
		} 
		    
		tomorrow = yyyy + '-' + mm + '-' + dd;
		
		document.getElementById('fechaLimite').setAttribute("min", tomorrow);
		document.getElementById('fechaLimite').setAttribute("value", tomorrow);
		
	}
	function SetMateriales(){
		const materialSelect = document.querySelector('#materiales');
		
		for(let mat of listaMateriales){
			
			if(mat.id_material==1){
				materialSelect.innerHTML += `<option value=${mat.id_material} selected>${mat.material}</option>`;
			}else{
				materialSelect.innerHTML += `<option value=${mat.id_material}>${mat.material}</option>`;
			}
			
			
		}				
	}
	
	
	formulario.addEventListener('keyup', filtrar);
	filtrar();
		
	function retiroExterno(){
		
		let urlA = "/views/retiro-material/autorizacion";
		
		cardAutorization.innerHTML = `
				<h5>Autorización de Retiro de Material</h5>
				<p class="mt-3">Retiro externo</p>
			
				<form id="formAut" action=${urlA} method="post"
				>
				
				<div class="mb-3">
					<label for="exampleInputEmail1" class="form-label">Descripción:</label>
					<textarea class="form-control" id="desc" name="desc"
						rows="3" required></textarea>
				</div>
				<div class="mb-3">
				<label for="exampleInput1" class="form-label">Materiales:</label>
				<select class="form-select"
					multiple aria-label="multiple select example" name="materiales"
					id="materiales">

				</select>
				</div>
				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label">Fecha Límite:  </label>
					<input type="date" id="fechaLimite" name="fechaLimite"
			       		>
				</div>
				<div>
					<input type="hidden" id="nroLegajo" name="nroLegajo" value=0>
				</div>
				<div
				class="card-footer bg-white d-grid gap-2 d-md-flex justify-content-between">
				<button type="button" class="btn btn-secondary" onclick="CloseCard()"
					>Cancelar</button> 
					<input type="submit"
					class="btn btn-secondary btn-sm" value="Confirmar" />
			</div>
			</form>
		`;
		
		SetDate();
		SetMateriales();
		window.scroll(0, 0);
		
	}
	
	
	</script>



</body>
</html>