<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>

	<header th:replace="plantilla/template :: header"></header>

	<div class="container">

		<div class="row mt-3 d-grid gap-2 d-md-flex justify-content-md-center"
			id="cardEditar"></div>

		<div class="gap-2 d-md-flex justify-content-md-between">
			<h3 class="mt-3">Listado de usuarios:</h3>
			<button class="btn btn-sm" data-bs-toggle="modal"
				data-bs-target="#modalEditarExpiracion">
				<img th:src="@{/images/reloj.jpg}" width="35" height="35" >
			</button>
		</div>


		<table class="table mt-3" id="myTable">
			<thead>
				<tr>
					<th class="sortable" scope="col"
						style="width: 25%; text-align: center;">Usuario</th>
					<th class="sortable" scope="col"
						style="width: 25%; text-align: center;">Habilitado</th>
					<th class="sortable" scope="col"
						style="width: 25%; text-align: center;">Nombre y Apellido</th>
					<th class="sortable" scope="col"
						style="width: 25%; text-align: center;">Editar</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="us:${listaUsuarios}">

					<td th:text="${us.usuario}" style="text-align: center;"></td>
					<td th:text="${us.enabled}" style="text-align: center;"></td>
					<td style="text-align: center;">[[${us.nombre}]]
						[[${us.apellido}]]</td>
					<td style="text-align: center;">
						<button class="btn btn-success btn-sm"
							th:onclick="editarUsuario([[${us}]])">Editar</button>
					</td>

				</tr>

			</tbody>
		</table>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modalEditarExpiracion" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ingrese límite
						de expiración de tránsito:</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<form id="myformExpiracion" th:action="@{/views/asistencia/modificar_cant_horas}" method="post">
					<div class="modal-body" id="modalbody">


						<ul class="list-group list-group-flush">

							<li class="list-group-item"><label >Cantidad de
									horas: </label> <input type="number" min=0 max=48 style="margin-left: 8px;" name="cantidadH" th:value="${cantHoras}"></li>
						</ul>


					</div>
					<div class="modal-footer">
						
						<button type="button" class="btn btn-secondary "
							data-bs-dismiss="modal">Cerrar</button>
						
						<button type="submit" class="btn btn-primary"
							>Aceptar</button>
					</div>
				</form>
			</div>
		</div>
	</div>



	<div class="mt-5"></div>

	<footer th:replace="plantilla/template ::footer"></footer>

	<script th:inline="javascript">
	
		const cardEditar = document.getElementById('cardEditar');
			
		function editarUsuario(us){
			
			let urlA = "/views/usuario/editar/" + us.idUsuario;
			let selectRol = "rol" + us.idUsuario;
			
			let idOption1 = "idOption1" + us.idUsuario;
			let idOption2 = "idOption2" + us.idUsuario;
			let idOption3 = "idOption3" + us.idUsuario;
			let idOption4 = "idOption4" + us.idUsuario;
			
			cardEditar.innerHTML = `
				<div class="col-md-8">
				
				<div class="card-header bg-dark text-white">Editar Usuario:</div>
			
				<form action=${urlA} method="post" autocomplete="off"
					>
					
					<div class="card-body row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="usuario">Nombre de usuario:</label> <input type="text"
									class="form-control" id="usuario"
									name="usuario" required value="${us.usuario}" disabled>
							</div>
						</div>
	
						<div class="col-md-6">
							<div class="form-group">
								<label for="contraseña">Contraseña: <span><small class="text-muted" >(No obligatorio)</small></span></label> <input type="password"
									class="form-control" id="contraseña" placeholder="Nueva contraseña del usuario"									
									title="La contraseña debe tener al menos un número, una letra en minúscula y como mínimo 6 caracteres"											
									name="contraseña" >
								
								<div class="mt-2">
								<input class="form-check-input" type="checkbox"
									onclick="mostrarContraseña()"> <label
									class="form-check-label" for="flexCheckDefault">
									Mostrar Contraseña</label>
								</div>
								
							</div>
						</div>
					</div>	
				
					<div class="card-body row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="nombre">Nombre:</label> <input type="text"
									class="form-control" id="nombre" placeholder="Nombre"
									name="nombre" required value=${us.nombre}>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="apellido">Apellido:</label> <input type="text"
									class="form-control" id="apellido" placeholder="Apellido"
									name="apellido" required value=${us.apellido}>
							</div>
						</div>
					</div>

					<div class="card-body row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="rol">Rol del usuario: </label> 
								<small class="text-muted"><br><span> (Ctrl + click para selección múltiple)</span></small>
								
								<select class="form-select mt-2"
									multiple aria-label="multiple select example" name="rol"
									id=${selectRol}>
									<option id=${idOption1} value="GUARDIA">Guardia</option>
									<option id=${idOption2} value="AUTORIZADOR">Autorizador</option>
									<option id=${idOption3} value="NOTIFICADOR">Notificador</option>
									<option id=${idOption4} value="ADMIN">Administrador</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="true" name="enabled" id="enabled" checked>
								<label class="form-check-label" for="flexCheckDefault">
							    Usuario Habilitado
							  	</label>
							</div>
						</div>
						
					</div>


					<div
						class="card-footer bg-dark mt-3 d-grid gap-2 d-md-flex justify-content-between">
						<input type="button" class="btn btn-primary btn-sm" onclick="cancelarEdit()"
						value="Cancelar" />
						<input type="submit" class="btn btn-primary btn-sm"
							value="Confirmar" />
					</div>

				</form>


			</div>

			`;
			
			document.getElementById('contraseña').pattern = "(?=.*\\d)(?=.*[a-z]).{6,}";
					
			rolesSeleccionados(us.roles, idOption1, idOption2, idOption3, idOption4);
			
			const checkB = document.getElementById('enabled');
			
			if(us.enabled){
				checkB.checked = true;
			}else checkB.checked = false;
			
			
			window.scroll(0, 0);
			
		}
		
		function cancelarEdit(){			
			cardEditar.innerHTML = '';		
		}
		
		function rolesSeleccionados(usRoles, idOption1, idOption2, idOption3, idOption4){
											
			for(let rol of usRoles){
				
				if(rol.rol == "GUARDIA"){										
					const option1 = document.getElementById(idOption1);
					option1.selected = true;
				}
				if(rol.rol == "AUTORIZADOR"){										
					const option2 = document.getElementById(idOption2);
					option2.selected = true;
				}
				if(rol.rol == "NOTIFICADOR"){										
					const option3 = document.getElementById(idOption3);
					option3.selected = true;
				}
				if(rol.rol == "ADMIN"){										
					const option4 = document.getElementById(idOption4);
					option4.selected = true;
				}
				
			}		
			
		}
		
		function mostrarContraseña() {
			var x = document.getElementById("contraseña");
			if (x.type === "password") {
				x.type = "text";
			} else {
				x.type = "password";
			}
		}
		
	</script>
</body>
</html>