<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8">
<title>Guardia</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/animate.min.css}">
<link rel="stylesheet" th:href="@{/css/bootnavbar.css}">
<link rel="stylesheet" th:href="@{/css/daterangepicker.css}">
<link rel="stylesheet" th:href="@{/css/signin.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
<link rel="stylesheet" th:href="@{/css/toastr.min.css}">
<link rel="icon" th:href="@{/images/icono-pestaña.png}">

<style type="text/css">
	.scrolling-table  { margin-top:  20px; display: inline-block; overflow: auto; }
	/* design */
	.scrolling-table { border-collapse: collapse; }
	
	.scrolling-thead {position: sticky; top: 0;  background: white;}
	
</style>


</head>
<body>

	<!-- BARRA DE NAVEGACION -->
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
			id="main_navbar">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/home}"><img
					th:src="@{/images/scolnik.png}" style="width: 150px; height: 70px"></a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent"
					style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; -o-user-select: none;">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" th:href="@{/home}">Inicio</a></li>

						<li class="nav-item dropdown"
							sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER', 'ROLE_GUARDIA')"><a
							class="nav-link dropdown-toggle" id="navbarDropdown1"
							role="button"> Registrar Actividad </a>

							<ul class="dropdown-menu">
								<li class="nav-item dropdown mt-0"><a
									class="dropdown-item dropdown-toggle" href="#" role="button"
									data-bs-toggle="dropdown"> Registrar Ingreso</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
										<li><a class="dropdown-item"
											th:href="@{/views/asistencia/personal}">Empleado</a></li>
										<li><a class="dropdown-item"
											th:href="@{/views/asistencia-proveedor}">Proveedor</a></li>

									</ul></li>
								<li class="nav-item dropdown"><a
									class="dropdown-item dropdown-toggle" href="#" role="button"
									data-bs-toggle="dropdown"> Registrar Egreso</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
										<li><a class="dropdown-item"
											th:href="@{/views/asistencia/personal/egreso}">Empleado</a></li>
										<li><a class="dropdown-item"
											th:href="@{/views/asistencia-proveedor/egreso}">Proveedor</a></li>


									</ul></li>
								<li><a class="dropdown-item" th:href="@{/views/evento}">Evento</a></li>
								<li><a class="dropdown-item"
									th:href="@{/views/acontecimiento}">Ronda</a></li>
								<li><a class="dropdown-item"
									th:href="@{/views/retiro-material}">Retiro de Material</a></li>

							</ul></li>

						<li class="nav-item dropdown"
							sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER', 'ROLE_GUARDIA')"><a
							class="nav-link dropdown-toggle" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Agregar Entidad</a>
							<ul class="dropdown-menu mt-0" aria-labelledby="navbarDropdown">

								<li sec:authorize="hasRole('ROLE_ADMIN')"><a
									class="dropdown-item" th:href="@{/views/personal/agregar}">Empleado</a></li>
								<li
									sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER', 'ROLE_GUARDIA')"><a
									class="dropdown-item" th:href="@{/views/proveedor/agregar}">Proveedor</a></li>
								<li sec:authorize="hasRole('ROLE_ADMIN')"><a
									class="dropdown-item" th:href="@{/views/vehiculo/agregar}">Vehículo</a></li>

							</ul></li>

						<li class="nav-item dropdown"
							sec:authorize="hasRole('ROLE_ADMIN')"><a
							class="nav-link dropdown-toggle" id="navbarDropdown2"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Editar Entidad</a>
							<ul class="dropdown-menu mt-0" aria-labelledby="navbarDropdown">

								<li><a class="dropdown-item"
									th:href="@{/views/personal/editar}">Empleado</a></li>
								<li><a class="dropdown-item"
									th:href="@{/views/proveedor/editar}">Proveedor</a></li>
								<li><a class="dropdown-item"
									th:href="@{/views/vehiculo/editar}">Vehículo</a></li>
								<li><a class="dropdown-item"
									th:href="@{/views/sector_trabajo/editar}">Sector de Trabajo</a></li>

							</ul></li>


						<li class="nav-item"
							sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AUTORIZADOR')"><a
							class="nav-link active" aria-current="page"
							th:href="@{/views/retiro-material/autorizar}">Autorizar
								Retiro</a></li>
						<li class="nav-item"
							sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_NOTIFICADOR')"><a
							class="nav-link active" aria-current="page"
							th:href="@{/views/evento/nuevo}">Nuevo Evento</a></li>

					</ul>

					<ul class="navbar-nav mr-auto">



						<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a
							class="nav-link active" aria-current="page"
							th:href="@{/views/usuario/crear}">Crear Usuario</a></li>
						<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a
							class="nav-link active" aria-current="page"
							th:href="@{/views/usuario/editar}" style="padding-right: 20px;">Editar
								Usuarios</a></li>

						<li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_GUARDIA')"
							style="padding-right: 20px;">
							<button type="button" class="btn btn-outline-info"
								id="plantaButton" data-bs-toggle="modal"
								data-bs-target="#modalPlanta">Seleccionar Planta</button>
						</li>


						<li class="nav-item" sec:authorize="!isAuthenticated()"><a
							class="btn btn-outline-warning" aria-current="page"
							th:href="@{/login}">Iniciar Sesión</a></li>
						<li sec:authorize="isAuthenticated()">
							<form th:action="@{/logout}" method="post">
								<button type="submit" class="btn btn-outline-warning"
									onclick="deleteCookies()">Cerrar Sesión</button>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- MENSAJES -->
		<div
			class="alert alert-success alert-dismissable gap-2 d-md-flex justify-content-between"
			th:if="${success != null}" role="alert">
			<label th:text="${success}"></label>
			<button type="button" class="btn-close mr-auto"
				data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div
			class="alert alert-danger alert-dismissable gap-2 d-md-flex justify-content-between"
			th:if="${error != null}" role="alert">
			<label th:text="${error}"></label>
			<button type="button" class="btn-close mr-auto"
				data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

		<!-- Notificacion -->
		<div id="notificacionAlert"></div>


		<!-- Modal -->
		<div class="modal fade" id="modalPlanta" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Ingrese la
							planta correspondiente:</h5>

					</div>
					<form id="myformPlanta">
						<div class="modal-body" id="modalbody">


							<ul class="list-group list-group-flush">

								<li class="list-group-item"><label>Planta: </label> <select
									class="form-select" id="plantaSelect" name="plantaSelect">
										<option value="Peñaloza-Planta2" selected>Av.
											Peñaloza 5750 - Planta II</option>
										<option value="Facundo-Planta1">Av. Facundo Zuviría
											4740 - Planta I</option>


								</select></li>
							</ul>


						</div>
						<div class="modal-footer">

							<button type="submit" class="btn btn-primary"
								onclick="setCookie()" data-bs-dismiss="modal">Aceptar</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="d-md-flex justify-content-end"
			sec:authorize="isAuthenticated()"
			style="float: right; margin-top: 10px;">
			<p sec:authentication='name'
				style="margin-right: 2px; margin-top: 10px;"></p>
			<a class="navbar-brand" th:href="@{/home}"><img
				th:src="@{/images/casa.jpg}" width="35" height="35"></a>

		</div>
		<!-- 		<form th:action="@{/msj}" method="get"> -->
		<!-- 			<button type="submit">Mensajes</button> -->
		<!-- 		</form> -->


	</header>

	<!-- CONTENIDO -->
	<div class="container"></div>

	<!-- PIE DE PAGINA -->
	<footer th:fragment="footer"
		class="bg-dark text-white text-center fixed-bottom ">

		<div>
			<span>Práctica Supervisada - Trabajo de Mendoza Emiliano</span> <span
				sec:authentication='principal.authorities' id="rolesUsuario" hidden></span>
			<span sec:authentication='name' id="nombreUsuario" hidden></span>
		</div>


		<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/ordenar-tabla.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootnavbar.js}"></script>
		<script type="text/javascript" th:src="@{/js/moment.js}"></script>
		<script type="text/javascript" th:src="@{/js/daterangepicker.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/daterangeconfig.js}"></script>
		<script type="text/javascript" th:src="@{/js/sockjs.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/stomp.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/toastr.min.js}"></script>

		<script>
			new bootnavbar();
		</script>

		<script th:inline="javascript">
			
			const roles = document.getElementById("rolesUsuario").textContent;
			const nombreUsuario = document.getElementById("nombreUsuario").textContent;
			let timeRefresh = 60000;
			
			var time = new Date().getTime();

			// cada vez que se mueva el mouse en el body o se toque una tecla se guarda el tiempo en el que se hizo
			$(document.body).bind("mousemove keypress", function(e) {
				time = new Date().getTime();
			});

			function refresh() {
				
					//Si la diferencia entre el tiempo actual y la ultima vez que me movio el mouse es mayor o igual a 60000 (60 seg) se recarga
					if (new Date().getTime() - time >= timeRefresh)
						window.location.reload(true);
					else
						setTimeout(refresh, 10000);
			}
			
			// Se llama a refresh cada 10 segundos
			setTimeout(refresh, 10000);
			
			
			
			
			
			//cookies									
			function deleteCookies() {
				document.cookie = "logueado=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
			}

			$(window).on('load', function() {
				if (getCookie("logueado") == "" && roles.indexOf("ROLE_GUARDIA") !== -1) {
					$('#modalPlanta').modal('show');
				}
			});

			//console.log(document.cookie);

			function setCookie() {
				let aux = document.getElementById('plantaSelect').value;
				
				document.cookie = nombreUsuario + "=" + aux+ "; path=/";
				//document.cookie = "planta=" + aux+ "; path=/";
				document.cookie = "logueado=true; path=/";
				
			}

			function getCookie(cname) {
				let name = cname + "=";
				let decodedCookie = decodeURIComponent(document.cookie);
				let ca = decodedCookie.split(';');
				for (let i = 0; i < ca.length; i++) {
					let c = ca[i];
					while (c.charAt(0) == ' ') {
						c = c.substring(1);
					}
					if (c.indexOf(name) == 0) {
						return c.substring(name.length, c.length);
					}
				}
				return "";
			}
			
			
			if (getCookie(nombreUsuario) != "") {
				
				if(getCookie(nombreUsuario).indexOf("Peñaloza") != -1){
					document.getElementById("plantaButton").innerText = "Peñaloza - Planta II";
				}else if(getCookie(nombreUsuario).indexOf("Facundo") != -1){
					document.getElementById("plantaButton").innerText = "Facundo Zuviría - Planta I";
				}else{
					document.getElementById("plantaButton").innerText =  "No definida";
				}
				
								
			}
			
			setPlantaEnCookie();
			function setPlantaEnCookie(){
				
				if(getCookie(nombreUsuario) != ""){
					const plantaSelect = document.getElementById("plantaSelect");
					
					let plantaAnterior = getCookie(nombreUsuario);
					
					if(plantaAnterior.indexOf("Peñaloza")!=-1){
						plantaSelect.innerHTML=`
							<option value="Peñaloza-Planta2" selected>Av. Peñaloza 5750 - Planta II</option>
							<option value="Facundo-Planta1">Av. Facundo Zuviría 4740 - Planta I</option>
						`;
					}else if(plantaAnterior.indexOf("Facundo")!=-1){
						plantaSelect.innerHTML=`
							<option value="Peñaloza-Planta2">Av. Peñaloza 5750 - Planta II</option>
							<option value="Facundo-Planta1" selected>Av. Facundo Zuviría 4740 - Planta I</option>
						`;
					}
					
					
				}
				
			}
			
			
			var stompClient = null;
			var notificationCount = 0;
		
			$(document).ready(function() {
			    console.log("Index page is ready");
			    connect();
		
			    $("#send").click(function() {
			        sendMessage();
			    });
			

			});
		
			function connect() {
			    var socket = new SockJS('/websocket');
			    
			    stompClient = Stomp.over(socket);
			    stompClient.connect({}, function (frame) {
			        stompClient.subscribe('/topic/messages', function (message) {
			            showMessage(JSON.parse(message.body).content);
			        });
				
			    });
			}
		
			function showMessage(message) {
				
				if(roles.indexOf("ROLE_GUARDIA") !== -1){
					let aux = "El usuario "+ nombreUsuario + " ha creado";
				    if(message.indexOf(aux)==-1){
				    	 notificationSound();
				    	 toastr["info"](message, "Notificación");
				    	 timeRefresh = timeRefresh + 90000;
				    }				    
				}
			}
		
			function sendMessage() {
			    console.log("sending message");
			   
			    stompClient.send("/ws/message", {}, JSON.stringify({'messageContent': nombreUsuario + " ha creado un nuevo evento."}));
			    //stompClient.send("/ws/message", {}, JSON.stringify({'messageContent': $("#message").val()}));
			}
			
			function sendEventoNoti() {
			    console.log("sending message");
			    stompClient.send("/ws/message", {}, JSON.stringify({'messageContent': "El usuario " + nombreUsuario + " ha creado un nuevo evento."}));
				
			}
			function sendRetiroNoti() {
			    console.log("sending message");
			    stompClient.send("/ws/message", {}, JSON.stringify({'messageContent': "El usuario " + nombreUsuario + " ha creado una nueva autorización de retiro."}));
				
			}
		
			function notificationSound(){				
				let audio = new Audio("/audios/notification-sound.wav");
				audio.play();
			}
			
			toastr.options = {
					  "closeButton": true,
					  "debug": false,
					  "newestOnTop": true,
					  "progressBar": false,
					  "positionClass": "toast-bottom-right",
					  "preventDuplicates": false,
					  "onclick": null,
					  "showDuration": "300",
					  "hideDuration": "1000",
					  "timeOut": "500000",
					  "extendedTimeOut": "3000",
					  "showEasing": "swing",
					  "hideEasing": "linear",
					  "showMethod": "fadeIn",
					  "hideMethod": "fadeOut"
			}
													
		</script>




	</footer>



</body>

</html>