<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>

	<header th:replace="plantilla/template :: header"></header>

	<div class="container">
	
		<div class="row mt-3 d-grid gap-2 d-md-flex justify-content-md-center" id="cardEditar"></div>
		
		<h3 class="mt-3">Listado de usuarios: </h3>
		
		<table class="table mt-3" id="myTable">
			<thead>
				<tr>
					<th class="sortable" scope="col" style="width: 25%; text-align: center;">Usuario</th>
					<th class="sortable" scope="col" style="width: 25%; text-align: center;">Habilitado</th>
					<th class="sortable" scope="col" style="width: 25%; text-align: center;">Nombre</th>
					<th class="sortable" scope="col" style="width: 25%; text-align: center;">Editar</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="us:${listaUsuarios}">

					<td th:text="${us.usuario}" style="text-align: center;"></td>
					<td th:text="${us.enabled}" style="text-align: center;"></td>
					<td  style="text-align: center;">[[${us.nombre}]] [[${us.apellido}]]</td>
					<td  style="text-align: center;">
						<button class="btn btn-success btn-sm"
						 th:onclick="editarUsuario([[${us}]])">Editar</button>
					</td>
					
				</tr>

			</tbody>
		</table>
	</div>
	
	<div class="mt-5"></div>
	
	<footer th:replace="plantilla/template ::footer"></footer>
	
	<script  th:inline="javascript">
	
		const cardEditar = document.getElementById('cardEditar');
			
		function editarUsuario(us){
			
			let urlA = "/views/usuario/editar/" + us.idUsuario;
			let selectRol = "rol" + us.idUsuario;
			
			let idOption1 = "idOption1" + us.idUsuario;
			let idOption2 = "idOption2" + us.idUsuario;
			let idOption3 = "idOption3" + us.idUsuario;
			let idOption4 = "idOption4" + us.idUsuario;
			
			cardEditar.innerHTML = `
				<div class="col-md-8">
				
				<div class="card-header bg-dark text-white">Editar Usuario:</div>
			
				<form action=${urlA} method="post" autocomplete="off">
					
					<div class="card-body row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="usuario">Nombre de usuario:</label> <input type="text"
									class="form-control" id="usuario"
									name="usuario" required value="${us.usuario}" disabled>
							</div>
						</div>
	
						<div class="col-md-6">
							<div class="form-group">
								<label for="contraseña">Contraseña: <span><small class="text-muted" >(No obligatorio)</small></span></label> <input type="password"
									class="form-control" id="contraseña" placeholder="Nueva contraseña del usuario"									
									title="La contraseña debe tener al menos un número, una letra en minúscula y como mínimo 6 caracteres"											
									name="contraseña" >
							</div>
						</div>
					</div>	
				
					<div class="card-body row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="nombre">Nombre:</label> <input type="text"
									class="form-control" id="nombre" placeholder="Nombre"
									name="nombre" required value=${us.nombre}>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="apellido">Apellido:</label> <input type="text"
									class="form-control" id="apellido" placeholder="Apellido"
									name="apellido" required value=${us.apellido}>
							</div>
						</div>
					</div>

					<div class="card-body row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="rol">Rol del usuario: </label> 
								<small class="text-muted"><br><span> (Ctrl + click para selección múltiple)</span></small>
								
								<select class="form-select mt-2"
									multiple aria-label="multiple select example" name="rol"
									id=${selectRol}>
									<option id=${idOption1} value="GUARDIA">Guardia</option>
									<option id=${idOption2} value="AUTORIZADOR">Autorizador</option>
									<option id=${idOption3} value="NOTIFICADOR">Notificador</option>
									<option id=${idOption4} value="ADMIN">Administrador</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="true" name="enabled" id="enabled" checked>
								<label class="form-check-label" for="flexCheckDefault">
							    Usuario Habilitado
							  	</label>
							</div>
						</div>
						
					</div>


					<div
						class="card-footer bg-dark mt-3 d-grid gap-2 d-md-flex justify-content-between">
						<input type="button" class="btn btn-primary btn-sm" onclick="cancelarEdit()"
						value="Cancelar" />
						<input type="submit" class="btn btn-primary btn-sm"
							value="Confirmar" />
					</div>

				</form>


			</div>

			`;
			
			document.getElementById('contraseña').pattern = "(?=.*\\d)(?=.*[a-z]).{6,}";
					
			rolesSeleccionados(us.roles, idOption1, idOption2, idOption3, idOption4);
			
			const checkB = document.getElementById('enabled');
			
			if(us.enabled){
				checkB.checked = true;
			}else checkB.checked = false;
			
			
			window.scroll(0, 0);
			
		}
		
		function cancelarEdit(){			
			cardEditar.innerHTML = '';		
		}
		
		function rolesSeleccionados(usRoles, idOption1, idOption2, idOption3, idOption4){
											
			for(let rol of usRoles){
				
				if(rol.rol == "GUARDIA"){										
					const option1 = document.getElementById(idOption1);
					option1.selected = true;
				}
				if(rol.rol == "AUTORIZADOR"){										
					const option2 = document.getElementById(idOption2);
					option2.selected = true;
				}
				if(rol.rol == "NOTIFICADOR"){										
					const option3 = document.getElementById(idOption3);
					option3.selected = true;
				}
				if(rol.rol == "ADMIN"){										
					const option4 = document.getElementById(idOption4);
					option4.selected = true;
				}
				
			}		
			
		}
		
		function sortTable(selector, compFunc) {
		      var mySelector = '.sortable';
		      var myCompFunc = function($td1, $td2, isAsc) {
		        var v1 = $.trim($td1.text()).replace(/,|\s+|%/g, '');
		        var v2 = $.trim($td2.text()).replace(/,|\s+|%/g, '');
		        var pattern = /^\d+(\.\d*)?$/;
		        if (pattern.test(v1) && pattern.test(v2)) {
		          v1 = parseFloat(v1);
		          v2 = parseFloat(v2);
		        }
		
		        return isAsc ? v1 > v2 : v1 < v2;
		      };
		
		      var doSort = function($tbody, index, compFunc, isAsc)
		      {
		        var $trList = $tbody.find("tr");
		        var len = $trList.length;
		        for(var i=0; i<len-1; i++) {
		          for(var j=0; j<len-i-1; j++) {
		            var $td1 = $trList.eq(j).find("td").eq(index);
		            var $td2 = $trList.eq(j+1).find("td").eq(index);
		
		            if (compFunc($td1, $td2, isAsc)) {
		              var t = $trList.eq(j+1);
		              $trList.eq(j).insertAfter(t);
		              $trList = $tbody.find("tr");
		            }
		          }
		        }
	      }

	      var init = function() {
	        var $th = $("th" + selector);
	        this.$table = $th.closest("table");
	        var that = this;
	        $th.click(function(){
	          var index = $(this).index();
	          var asc = $(this).attr('data-asc');
	          isAsc = asc === undefined ? true : (asc > 0 ? true : false);

	          doSort(that.$table.find("tbody"), index, compFunc, isAsc);

	          $(this).attr('data-asc', 1 - (isAsc ? 1 : 0));
	        });

	        $th.css({'cursor': 'pointer'})
	           .attr('title', 'Haga clic para ordenar')
	           .append('&nbsp;<i class="fa fa-long-arrow-down" style="color:#2196F3" aria-hidden="true"></i><i class="fa fa-long-arrow-up" style="color:#2196F3" aria-hidden="true"></i>');
	      };


	      selector = selector || mySelector;
	      compFunc = compFunc || myCompFunc;

	      init();
	    }
		
		sortTable();
		
		
	
	</script>
</body>
</html>