<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>

	<header th:replace="plantilla/template :: header"></header>

	<div class="container">

		<div class="card bg-light mt-3">
			<div class="card-header bg-dark text-white">Agregar nuevo
				vehiculo:</div>
			<div class="card-body row">
				<div class="col-md-6">

					<form th:object="${vehiculo}"
						th:action="@{/views/vehiculo/guardar}" method="post">

						<div>
							<div class="form-group">
								<label for="nombre">Marca:</label> <input type="text"
									class="form-control" id="marca"
									placeholder="Marca del vehiculo" name="marca"
									th:field="*{marca}">
							</div>
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></small>
						</div>

						<div class="mt-3">
							<div>
								<label for="apellido">Modelo:</label> <input type="text"
									class="form-control" id="apellido"
									placeholder="Modelo del vehiculo" name="apellido"
									th:field="*{modelo}">
							</div>
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('modelo')}" th:errors="*{modelo}"></small>
						</div>

						<div class="mt-3">
							<div class="form-group">
								<label for="apellido">Patente:</label> <input type="text"
									class="form-control" id="patente"
									placeholder="Patente del vehiculo" name="patente"
									th:field="*{patente}">
							</div>
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('patente')}" th:errors="*{patente}"></small>
						</div>


						<div
							class="card-footer bg-dark mt-3 gap-2 d-md-flex justify-content-md-end">
							<input type="submit" class="btn btn-primary btn-sm"
								value="Guardar" />
						</div>

					</form>


				</div>
				<div class="col-md-6">
					<img src="/images/vehiculo.png" class=""
						style="display: block; margin: 0 auto; width: 300px">
				</div>
			</div>
		</div>

	</div>



	<div class="mt-5"></div>


	<footer th:replace="plantilla/template ::footer"></footer>
	
	<script type="text/javascript">


  	</script>
	
</body>
</html>