<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>

	<header th:replace="plantilla/template :: header"></header>

	<div class="container">

		<div class="row mt-3 d-grid gap-2 d-md-flex justify-content-md-center"
			id="cardAsis"></div>

	</div>

	<div class="container">
		<div class="gap-2 d-md-flex justify-content-between mt-3">
			<h2 class="">Listado de Proveedores:</h2>

			<button type="button" class="btn btn-primary btn-sm"
				data-bs-toggle="modal" data-bs-target="#exampleModal">Ver
				registros previos</button>

		</div>

		<input type="text" id="formulario" class="form-control mt-3">
		<table class="table" style="width: 100%">
			<thead>
				<tr>

					<th class="sortable" scope="col"
						style="width: 15%; text-align: center;">Razón Social</th>
					<th scope="col" style="width: 25%; text-align: center;">Registrar
						Ingreso</th>
				</tr>
			</thead>
			<tbody id="fila">

			</tbody>
		</table>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ingresos de
						proveedores:</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<form id="myform" method="get"
					th:action="@{/views/asistencia-proveedor/previas}">
					<div class="modal-body" id="modalbody">
					
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><label>Rango de fechas:
							</label> <input type="text" id="date_range" name="date_range"
								class="form-control"></li>
							<li class="list-group-item"><label>Proveedor: </label> <select
								class="form-select" id="sector" name="idProveedor">
									<option value=-1 selected>Todos</option>
									<option th:each="p:${todoProveedor}" th:value='${p.idProveedor}'>
									[[${p.razonSocial}]]</option>

							</select></li>
						</ul>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Cerrar</button>

						<button type="submit" class="btn btn-primary">Ver
							Ingresos</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="mt-5"></div>

	<footer th:replace="plantilla/template ::footer"></footer>

	<script th:inline="javascript">
		
		var listaProveedor = /*[[${listaProveedor}]]*/ 'default';
		
		const formulario = document.querySelector('#formulario');
		const resultado = document.querySelector('#fila');
		const cardAsis = document.querySelector('#cardAsis');
		cardAsis.innerHTML = '';
		
		const filtrar = () => {
			resultado.innerHTML = '';
			
			const texto = formulario.value.toLowerCase();
			for(let p of listaProveedor){
				
				let razonSocial = p.razonSocial.toLowerCase();
				
				if(razonSocial.indexOf(texto) !== -1){
					
					resultado.innerHTML += `
						<tr>
							<td scope="row" style="text-align:center;">${p.razonSocial}</td>					
							<td style="text-align:center;">
								<button class="btn btn-success btn-sm" 
								title:"Registrar Nueva Asistencia" id="asisBtn" 
								onclick="AsistenciaCard('${p.idProveedor}','${p.razonSocial}')">
								Ingreso
								</button>
							</td>
						</tr>
					`;
					
				}
				
			}
		}
		formulario.addEventListener('keyup', filtrar);
		filtrar();
		
		function AsistenciaCard (idProveedor, razonSocial){
			let urlA = "/views/asistencia-proveedor/ingreso/" + idProveedor;
			
			cardAsis.innerHTML = `
				<div class="col-md-8" >
				<div class="card-header bg-dark text-white ">Registro de Ingreso
					a la Planta</div>
				<div class="row g-0 ">
					<div class="col-md-4" id="imagen">
						<img src='/images/proveedor.jpg' width="270" height="280"
						
						onerror="this.onerror=null;this.src='/images/anonimo.jpg';">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">Registrar ingreso de proveedor:</h5>
							
							
							<ul class="list-group list-group-flush mt-2">
							  <li class="list-group-item">Razón social: ${razonSocial}</li>
							  <li class="list-group-item">Fecha y hora del ingreso: <small class="text-muted"><span
								id='date-time'></span></small></li>
							  <li class="list-group-item">
							  		<label>Nomber del chofer: </label>
							  		<input type="text" class="form-control" name="nombreChofer" form="myform">
							  </li>
							  <li class="list-group-item">
						  		<label>Patente del vehiculo: </label>
						  		<input type="text" class="form-control" name="patenteVehiculo" form="myform">
						 	 </li>
							</ul>
							
						</div>
					</div>
				</div>
				<form 	
						action=${urlA}
						method="post"
						onsubmit="return confirm('Confirmar ingreso del proveedor ${razonSocial}?');"
						id="myform">
					<div
						class="card-footer bg-dark d-grid gap-2 d-md-flex justify-content-between">
						<button type="button" class="btn btn-secondary" onclick="CloseCard()"
							>Cancelar</button>
							<button type="submit" class="btn btn-secondary"
								>Registrar</button> 
							
					</div>
				</form>

			</div>
			`;
			
			//formato de la fecha
			var d = new Date,
			dformat = `${
			    d.getDate().toString().padStart(2, '0')}/${
			    (d.getMonth()+1).toString().padStart(2, '0')}/${
			    d.getFullYear().toString().padStart(4, '0')} ${
			    d.getHours().toString().padStart(2, '0')}:${
			    d.getMinutes().toString().padStart(2, '0')}`;
			
			
			
			document.getElementById('date-time').innerHTML = dformat;
				
			window.scroll(0, 0);
			
			
			
		}
		function CloseCard(){
			cardAsis.innerHTML = '';
		}
		

		
	</script>
</body>