<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body>

	<header th:replace="plantilla/template :: header"></header>



	<div class="container theme-showcase mt-5" role="main">

		<img th:src="@{/images/login.png}" width="136" height="136"
			class="center">
		<form class="form-signin" th:action="@{/login}" method="post" >
			<h3 class="form-signin-heading text-center">Iniciar Sesión</h3>
			<input type="text" id="username" name="username" class="form-control"
				placeholder="Usuario" required autofocus> <input
				type="password" id="password" name="password" class="form-control"
				placeholder="Password" required>

			<div class="mt-2">
				<input class="form-check-input" type="checkbox"
					onclick="mostrarContraseña()" > <label
					class="form-check-label" for="flexCheckDefault"> Mostrar Contraseña</label>
			</div>


			<div class="d-grid gap-2 mt-2">
				<button class="btn btn-lg btn-primary btn-block" type="submit" onclick="deleteCookies()">Entrar</button>
			</div>

		</form>

	</div>


	<div class="mt-5"></div>

<!-- 	<footer th:replace="plantilla/template ::footer"></footer> -->

	<script th:inline="javascript">
		function mostrarContraseña() {
			var x = document.getElementById("password");
			if (x.type === "password") {
				x.type = "text";
			} else {
				x.type = "password";
			}
		}
		
		function deleteCookies() {
			document.cookie = "logueado=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
		}
		
	</script>
</body>
</html>